<!DOCTYPE html>
<html>
   <head>
     <meta charset="utf-8" />
     <title>Nouveau client</title>
   </head>

   <body>
      <h2>Nouveau client</h2>
      
      <form action="/clients/valider">
         <table>
            <tr>
               <td>Nom</td>
               <td><input type="text" name="nom" /></td>
            </tr>
            <tr>
               <td>Prénom</td>
               <td><input type="text" name="prenom" /></td>
            </tr>
         </table>
         <br>
         <input type="submit" value="Valider"/>
      </form>
   </body>
</html>
