<!DOCTYPE html>
<html>
   <head>
     <meta charset="utf-8" />
     <title>Voir un client</title>
   </head>

   <body>
      <h2>Voir un client</h2>
      
      <form action="/clients">
         <table>
            <tr>
               <td>Nom</td>
               <td><input type="text" name="nom" disabled value="<%= client.nom %>" /></td>
            </tr>
            <tr>
               <td>Prénom</td>
               <td><input type="text" name="prenom" disabled value="<%= client.prenom %>" /></td>
            </tr>
         </table>
         <br>
         <input type="submit" value="Fermer"/>
      </form>
   </body>
</html>
